*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.img-logo {
  margin-right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 15%;
  background-color: #404040;
}

.nav-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 5vh;
  width: auto;
  background-color: #6b5e62;
}

.nav-top ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  background-color: #6b5e62;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.nav-top li a:hover {
  border-bottom: 3px solid #404040;
}
/* CONTENT */
.content {
  padding: 10px;
  height: 100%;
  width: auto;
  position: relative;
}
.img {
  height: 250px;
  width: 250px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 70px;
  border-radius: 15%;
  background-color: #404040;
}
.img:hover {
  background-color: #6b5e62;
}
.name-pt {
  margin-left: 25px;
}
.card-one .name-pt h3 {
  font-size: 35px;
}
.card-one {
  height: 45vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.card-one h3 {
  margin-left: auto;
  font-size: 50px;
}
.quote {
  color: #817139;
}
.card-two {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reverse {
  flex-direction: row-reverse;
}
.content-divider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.content-project {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: tomato;
  height: 200px;
  width: 100%;
}
.first-year {
  font-size: 35px;
  width: 60%;
  padding: 25px;
  text-align: right;
}
.divider-page {
  border-top: 5px solid #404040;
  width: 25vh;
  margin: 20px;
  border-radius: 50%;
  margin: 10px;
}
.wrap-img-one {
  display: flex;
  width: 40%;
  height: 200px;
  gap: 10px;
}
.img-project {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 100px;
  height: 100px;
  color: #ffffff;
  background-color: #404040;
  border-radius: 15%;
}
.img-project:hover {
  background-color: #6b5e62;
  cursor: pointer;
}
.up {
  top: 0%;
}
.down {
  top: 50%;
  position: relative;
}
.wrap-img-two {
  display: flex;
  width: 40%;
  left: 0%;
  height: 200px;
}
.second-year {
  font-size: 35px;
  width: 60%;
  padding: 25px;
  text-align: left;
}

/* BOTTOM */
.nav-bot {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 20px;
  width: auto;
  height: 5vh;
  color: #eaeaea;
  background-color: #404040;
}

@media screen and (max-width: 600px) {
  /* .card-one {
    flex-direction: row;
  }
  .card-two {
    flex-direction: row;
  } */
  /* .wrap-img-one {
    flex-direction: row;
  }
  .wrap-img-two {
    flex-direction: row;
  } */
}
